   <!--? slider Area Start-->
   <section class="slider-area hero-overly">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9 col-md-10 col-sm-9">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay="0.2s">Quality laundry service in your city</h1>
                            <p data-animation="fadeInLeft" data-delay="0.4s">We take care about cleenness of your cloth</p>
                            <a href="/services" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Services</a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="bubbles">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
    </div>
</section>
<!-- slider Area End-->
<!--? Services Area Start -->
<section class="services-area pt-top border-bottom mb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <span class="element">Our Process</span>
                    <h2>This is how we work</h2>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 iconbig">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/icon/services-icon1.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">We collect your clothes</a></h5>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 iconbig">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/icon/services-icon2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Wash your clothes</a></h5>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 iconbig">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/icon/services-icon3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Get delivery</a></h5>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="position-relative p-5">
        <div class="custom-shape-divider-top-1630622741">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
       
    </section>
    
</section>

<!-- Services End -->

<!--? Want To work -->
<section class="container callus" style="padding-bottom: 111px;">
    <section class="wantToWork-area" style="background-image: url('img/gallery/section_bg01.png');border-radius: 42px;">
        <div class="wants-wrapper w-padding2">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-8 col-lg-9 col-md-7 mb-5">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>Call us for a service</h2>
                        <p>We deliver the goods to the most complicated places on earth</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5">
                    <img src="img/phone.gif" alt="" class="phonegif">
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Want To work End -->



