<style>
    @media (max-width: 768px) {
        .footermargabout{
            margin-top: 0px !important;
        }
    }
    .footermargabout{
            margin-top: 0px;
        }
</style>
<!-- Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" style="background-image: url('img/overlayimage.jpg');">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bubbles">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
    </div>
</div>
<!-- Hero End -->

<div class="container my-5">
    <div class="row  deliveryrow">
      <div class="col-lg-5">
        <div class="position-relative">
          <div class="carellipse"></div>
          <img src="img/gallery/about.png" class="img-fluid rounded position-absolute aboutimage" alt="Laundry Image">
          
        </div>
      </div>

      <div class="col-md-7 marg1">
        <h3 class="text-danger subheading">Our History</h3><br>
        <h1 class="heading text-dark">Laundry & Dry Cleaning
            Foundation</h1>
        <p class="mt-5 text-justify text-secondary">
            Founded in 1997, we follow a dream and an We aim to serve our customers in a way that far exceeds expectation. Being one of the leading laundry service providers, we know our customers’ mindset. It is not easy to come home from a hectic day at the office and rush to the nearest laundry service with your clothes. So, we have an array of services to make things easy for you

           <br><br> You need not tolerate late deliveries, low standard of work merged with high prices. Our services cater to all your laundering and ironing, dry cleaning, shoe repairs, upholstery cleaning, etc.
        </p>

    
      </div>
     
    </div>
    <div class="row aboutrow">
        <div class="col-lg-3 rowcols">
            <div class="row">
                <div class="col-lg-3">
                    <img class="call-icon" src="img/icon/shirt.png" />
                </div>
                <div class="col-lg-9">
                    <span class="text-dark spanheading">5000+</span><br>
                    <span class="text-secondary">Shirts Washed</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 rowcols">
            <div class="row">
                <div class="col-lg-3">
                    <img class="call-icon" src="img/icon/machine.png" />
                </div>
                <div class="col-lg-9">
                    <span class="text-dark spanheading">50</span><br>
                    <span class="text-secondary">Washing Machines</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 rowcols">
            <div class="row">
                <div class="col-lg-3">
                    <img class="call-icon" src="img/icon/hanger.png" />
                </div>
                <div class="col-lg-9">
                    <span class="text-dark spanheading">10000+</span><br>
                    <span class="text-secondary">Dry Cleaned Items</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 rowcols">
            <div class="row">
                <div class="col-lg-3">
                    <img class="call-icon" src="img/icon/stars.png" />
                </div>
                <div class="col-lg-9">
                    <span class="text-dark spanheading">100%</span><br>
                    <span class="text-secondary">Happy Customers</span>
                </div>
            </div>
        </div>

    </div>
</div>


 <!-- reasons -->
<div class="container-fluid aboutfeatures py-5 text-center">
    <h3 class="text-danger subheading">Our Advantages</h3>
    <h1 class="heading text-dark mainhead mt-5">Why To Choose Us</h1>

    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-lg-6">
              <div class="row">
                    <div class="col-lg-2 iconfeature">
                        <img class="call-icon" src="img/icon/bulb.png" />
                    </div>
                    <div class="col-lg-10 featuredetails">
                        <span class="text-dark featureheading">Personalized Experience</span><br>
                        <span class="text-secondary text-justify">We take utmost care of your clothes, segregating based on the cloth type and giving you instant clothes to make a statement.</span>
                    </div>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                      <div class="col-lg-2 iconfeature">
                          <img class="call-icon" src="img/icon/price.png" />
                      </div>
                      <div class="col-lg-10 featuredetails">
                          <span class="text-dark featureheading">Affordable Pricing</span><br>
                          <span class="text-secondary text-justify">Prices that suits your pocket is one of our USP. An option of choosing between 2 types of pricing is available.</span>
                      </div>
                </div>
              </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
              <div class="row">
                    <div class="col-lg-2 iconfeature">
                        <img class="call-icon" src="img/icon/quality.png" />
                    </div>
                    <div class="col-lg-10 featuredetails">
                        <span class="text-dark featureheading">Quality</span><br>
                        <span class="text-secondary">We use the best in class products, to assure that your favorite clothes are always there for you to wear.</span>
                    </div>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                      <div class="col-lg-2 iconfeature">
                          <img class="call-icon" src="img/icon/order.png" />
                      </div>
                      <div class="col-lg-10 featuredetails">
                          <span class="text-dark featureheading">Instant Order Update</span><br>
                          <span class="text-secondary">Regular updates of your order, to help you keep a track of your laundry and plan accordingly.</span>
                      </div>
                </div>
              </div>
        </div>
    </div>
    
</div>


