
<style>
    @media (max-width: 768px) {
        .footermargservices{
            margin-top: 0px !important;
        }
    }
    .footermargservices{
            margin-top: 0px;
        }
</style>

<!--? Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" style="background-image: url('img/overlayimage.jpg');">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="bubbles">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
    </div>
</div>
<!-- Hero End -->

<div class="container mt-5 py-5">
    <h3 class="text-danger subheading text-center">Our Services</h3>
    <h1 class="heading text-center text-dark mainhead mt-5">Dry Cleaning & Laundry,<br>  24 hour Delivery</h1>
    <div class="row mt-5">
<div class="col-lg-4">
    <img src="img/gallery/img1.png" class="img-fluid" alt="Laundry Image"> 
    <div class="servicehead">Darning Services</div>
    <div class="text-secondary servicedetails">We have expert seamstresses and tailors on staff to ensure we meet  and exceed your fitting requirements.</div>
</div>
<div class="col-lg-4">
    <img src="img/gallery/img2.png" class="img-fluid" alt="Laundry Image"> 
    <div class="servicehead">Steam Ironing</div>
    <div class="text-secondary servicedetails">These services are accomplished under the guidance of adroit personnel who have affluent industry proficiency.</div>

</div>

<div class="col-lg-4">
    <img src="img/gallery/img3.png" class="img-fluid" alt="Laundry Image"> 
    <div class="servicehead">Carpet Cleaning</div>
    <div class="text-secondary servicedetails">To keep carpet at peak performance, we recommend professional deep cleaning your carpet every 12 to 18 months.</div>

</div>

    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="img/gallery/img4.png" class="img-fluid" alt="Laundry Image">
            <div class="servicehead">Dry Cleaning</div>
            <div class="text-secondary servicedetails">Let us pick up your dirty laundry, sort it, pre-treat stains, wash, dry, fold and deliver back to you in one neat, easy package.</div>
        </div>
        <div class="col-lg-4">
            <img src="img/gallery/img5.png" class="img-fluid" alt="Laundry Image">
            <div class="servicehead">Rolling Services</div>
            <div class="text-secondary servicedetails">These services are accomplished under the guidance of adroit personnel who have affluent industry proficiency.</div> 
        
        </div>
        
        <div class="col-lg-4">
            <img src="img/gallery/img6.png" class="img-fluid" alt="Laundry Image"> 
            <div class="servicehead">Dyer Services</div>
            <div class="text-secondary servicedetails">These services are accomplished under the guidance of adroit personnel who have affluent industry proficiency.</div>
        
        </div>
        
            </div>

</div>

<div class="container-fluid aboutfeatures py-5 text-center">
    <h3 class="text-danger subheading">Why You Will Love Us</h3>
    <h1 class="heading text-dark mainhead mt-5">Our Features</h1>

    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-lg-6">
              <div class="row">
                    <div class="col-lg-2 iconfeature">
                        <img class="call-icon" src="img/icon/ecofriendly.png" />
                    </div>
                    <div class="col-lg-10 featuredetails">
                        <span class="text-dark featureheading">Eco-Friendly Dry Cleaning</span><br>
                        <span class="text-secondary servicedetails text-justify">Our commitment to eco-friendly practices extends beyond our use of 100% toxin-free cleaning techniques. </span>
                    </div>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                      <div class="col-lg-2 iconfeature">
                          <img class="call-icon" src="img/icon/shirt.png" />
                      </div>
                      <div class="col-lg-10 featuredetails">
                          <span class="text-dark featureheading">Wash & Fold</span><br>
                          <span class="text-secondary servicedetails text-justify">We are excited to offer quality shoe repair & bag services alongside our second to none dry cleaning and wash & fold service.</span>
                      </div>
                </div>
              </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
              <div class="row">
                    <div class="col-lg-2 iconfeature">
                        <img class="call-icon" src="img/icon/hand.png" />
                    </div>
                    <div class="col-lg-10 featuredetails">
                        <span class="text-dark featureheading">Quality Laundry Services</span><br>
                        <span class="text-secondary servicedetails">It is considerably the most convenient services that people look for. Laundry is one of the most difficult chores that we have to deal with on a regular basis.</span>
                    </div>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                      <div class="col-lg-2 iconfeature">
                          <img class="call-icon" src="img/icon/delivery.png" />
                      </div>
                      <div class="col-lg-10 featuredetails">
                          <span class="text-dark featureheading">24 hour Delivery</span><br>
                          <span class="text-secondary servicedetails">We offer one-day laundry service to customers in our service areas, combining the excellence of dry cleaning </span>
                      </div>
                </div>
              </div>
        </div>
    </div>
    
</div>