


<!--? Hero Start -->
<div class="slider-area2 section-bg2 hero-overly" style="background-image: url('img/hero/hero2.png');">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="bubbles">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
        <img src="img/bubble.png" alt="">
    </div>
</div>
<!-- Hero End -->

<!--? Offer-services Start  -->
<section class="offer-services pb-bottom2" id="servi">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55 mt-5">
                    <h2>Services we offer</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="cont mx-auto">
                <div class="car">
                  <div class="front">
                    <img src="img/gallery/offers1.png" alt="" class=" w-100" style="    border-radius: 20px">
                  </div>
                  <div class="back">
                    <div class="offers-caption text-center">
                        <div class="cat-icon">
                            <img src="img/icon/offers-icon1.png" alt="">
                        </div>
                        <div class="cat-cap" style=" margin-top: 30px; color:white">
                            <h2 class="text-white"><a href="services.html">Cloth laundry</a></h2>
                            <p class="text-white p-3">The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!!</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cont mx-auto">
                <div class="car">
                  <div class="front">
                    <img src="img/gallery/offers4.png" alt="" class=" w-100" style="    border-radius: 20px">
                  </div>
                  <div class="back">
                    <div class="offers-caption text-center">
                        <div class="cat-icon">
                            <img src="img/icon/offers-icon1.png" alt="">
                        </div>
                        <div class="cat-cap" style=" margin-top: 30px; color:white">
                            <h2 class="text-white"><a href="services.html">Cloth Ironing</a></h2>
                            <p class="text-white p-3">The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!!</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cont mx-auto">
                <div class="car">
                <div class="front">
                    <img src="img/gallery/offer3.png" alt="" class=" w-100" style="    border-radius: 20px">
                  </div>
                  <div class="back">
                    <div class="offers-caption text-center">
                        <div class="cat-icon">
                            <img src="img/icon/offers-icon1.png" alt="">
                        </div>
                        <div class="cat-cap" style=" margin-top: 30px; color:white">
                            <h2 class="text-white"><a href="services.html">Dry Cleaning</a></h2>
                            <p class="text-white p-3">The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!!</p>
                        </div>
                    </div>
                  </div> 
                </div>
              </div>
              
        </div>
    </div>
</section>
<!-- Offer-services End  -->


<section class="services-area pt-top border-bottom mb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <span class="element">Our Process</span>
                    <h2>This is how we work</h2>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 iconbig">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/icon/services-icon1.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">We collect your clothes</a></h5>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 iconbig">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/icon/services-icon2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Wash your clothes</a></h5>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 iconbig">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/icon/services-icon3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Get delivery</a></h5>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="position-relative p-5">
        <div class="custom-shape-divider-top-1630622741">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
       
    </section>
    
</section>